# Local .terraform directories
**/.terraform/*
.terraform/
.terraform.lock.hcl

# .tfstate files (Contains secrets, don't upload)
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Override files
override.tf
override.tf.json